@page "/createmonhoc"

<h3>Thêm mới môn học</h3>

<EditForm Model="sv" OnValidSubmit="SubmitSinhVien">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="TenSinhVien">Mã môn</label>
        <input class="form-control" @bind-value="sv.Ma" />
        <ValidationMessage For="()=>sv.Ma"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="TenSinhVien">Tên môn</label>
        <input class="form-control" @bind-value="sv.TenMon" />
        <ValidationMessage For="()=>sv.TenMon"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="TenSinhVien">Nghành</label>
        <InputSelect class="form-control" @bind-Value="sv.IdNghanh">
            <option>Chọn nghành</option>
            @foreach (var item in lsttr)
            {
                <option value="@item.Id">@item.TenNghanh</option>
            }
        </InputSelect>
        <ValidationMessage For="()=>sv.IdNghanh"></ValidationMessage>
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
</EditForm>

