@page "/createsinhvien"
<h3>Thêm mới Sinh viên</h3>

<EditForm Model="sv" OnValidSubmit="SubmitSinhVien">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="form-group col-md-4">
            <label for="TenSinhVien">Họ sinh viên</label>
            <InputText class="form-control" @bind-Value="sv.Ho"></InputText>
            <ValidationMessage For="()=>sv.Ho"></ValidationMessage>
        </div>
        <div class="form-group col-md-4">
            <label for="TenSinhVien">Tên đệm sinh viên</label>
            <InputText class="form-control" @bind-Value="sv.TenDem"></InputText>
            <ValidationMessage For="()=>sv.TenDem"></ValidationMessage>
        </div>
        <div class="form-group col-md-4">
            <label for="TenSinhVien">Tên sinh viên</label>
            <InputText class="form-control" @bind-Value="sv.Ten"></InputText>
            <ValidationMessage For="()=>sv.Ten"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label for="TenSinhVien">Mã sinh viên</label>
        <input  class="form-control" @bind-value="sv.MaSV" />
        <ValidationMessage For="()=>sv.MaSV"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="TenSinhVien">Ngày Sinh</label>
        <input type="date" class="form-control" @bind-value="sv.NgaySinh" />
        <ValidationMessage For="()=>sv.NgaySinh"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="TenSinhVien">Email</label>
        <input type="email" class="form-control" @bind-value="sv.Email"/>        
        <ValidationMessage For="()=>sv.Email"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="TenSinhVien">Pass word</label>
        <input class="form-control" type="password" @bind-value="sv.PassWord" />
        <ValidationMessage For="()=>sv.PassWord"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="GioiTinh">Lớp</label>
        <InputSelect id="changeIsActive" class="form-control" @bind-Value="sv.IdLop">
            <option>Chọn lớp</option>
            @foreach (var x in lstlop)
            {
                <option value="@x.Id">@x.TenLop</option>
            }
        </InputSelect>
        <ValidationMessage For="()=>sv.IdLop"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="GioiTinh">Nghành</label>
        <InputSelect id="changeIsActive" class="form-control" @bind-Value="sv.IdNghanh">
            <option>Chọn nghành</option>
            @foreach (var x in lstnghanh)
            {
                <option value="@x.Id">@x.TenNghanh</option>
            }
        </InputSelect>
        <ValidationMessage For="()=>sv.IdNghanh"></ValidationMessage>
    </div>

    <button type="submit" class="btn btn-primary">Thêm mới</button>
</EditForm>

